---
pagination:
  data: eventlist
  size: 1
  alias: event
permalink: "/event/join/{{ event.id }}/"
layout: layouts/home.njk
---

<!--
  Create by Alade Yessoufou
  https://x.com/dev_alade
  https://www.linkedin.com/in/devalade
-->
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12" style="width: 100%; height: 100%; pointer-events: none;">
  <!-- HTML -->
  <div class="absolute inset-0 z-0 h-full w-full"> <!-- Updated to take full height and width -->
    <div class="group flex space-x-16 overflow-hidden h-full w-full" style="transform: rotate(45deg);">
      <div class="animate-loop-scroll group-hover:paused flex space-x-16 h-full w-full">
                <img loading="lazy" src="/img/PKBG.jpg" class="max-w-none h-full w-full" alt="Image 1" /> <!-- Updated to take full height and width -->
      </div>
      <div class="animate-loop-scroll group-hover:paused flex space-x-16 h-full w-full" aria-hidden="true">
        <img loading="lazy" src="/img/PKBG.jpg" class="max-w-none h-full w-full" alt="Image 1" /> <!-- Updated to take full height and width -->
       </div>
    </div>
  </div>
  <div class="relative z-10"> <!-- Added z-10 to ensure this content is above the animated divs -->
    <div class="md:p-8 h-screen flex flex-col relative max-w-[1024px] mx-auto">

      <div class="fixed bottom-0 right-0 left-0 bg-gradient-to-t from-black to-transparent text-white p-4" style="height: 50%; width: 100%;"> <!-- Kept gradient background -->
        <div class="max-w-[1024px] mx-auto"> <!-- Added to constrain width to container -->
        
        <h1 class="text-2xl font-bold mb-4">{{ event.title }}</h1> <!-- Moved title to the top left -->
        <div class="flex-grow overflow-y-auto mb-16"> <!-- Adjusted to keep text above button -->
          <p class="mb-2">{{ event.eventTypeData.name }}</p>
          <p class="mb-4">{{ event.eventSubTypeData.name }}</p>
          <!-- Add more event details as needed -->
        </div>
        
        <a href="/event/trade/{{ event.id }}" 
           class="block w-full px-6 py-3 text-lg font-semibold text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition duration-300 ease-in-out"> <!-- Made button full width -->
          Trade for this Event
        </a>
      </div>
    </div>
  </div>
</div>


<script>
  console.log('Event Data:', JSON.parse('{{ event | dump | safe | replace("'", "\\'") }}'));
</script>



