---
pagination:
  data: eventlist
  size: 1
  alias: eventtrade
permalink: "/event/trade/{{ eventtrade.id }}/"
layout: layouts/base-trade.njk
---

<div class="w-screen h-screen flex flex-col md:flex-row">
  <div id="trader" class="w-full h-1/2 md:w-1/2 md:h-full bg-gray-100 flex items-center justify-center">
    <div class="w-48 h-64 border-2 border-white border-dashed flex items-center justify-center">
      <p class="text-2xl font-bold">First Half</p>
    </div>
  </div>
  <div id="tradepartner" class="w-full h-1/2 md:w-1/2 md:h-full bg-gray-200 flex items-center justify-center">
    <div class="w-48 h-64 border-2 border-white border-dashed flex items-center justify-center">
      <p class="text-2xl font-bold">Second Half</p>
    </div>
  </div>
</div>