<!-- Timeline -->
<div id="event-timeline">
  {% set sortedEvents = eventlist | sort(attribute='date') %}
  {% set groupedEvents = [] %}
  {% set currentDate = '' %}
  {% set currentGroup = [] %}

  {% for event in sortedEvents %}
    {% set eventDate = event.date | readableDate('yyyy-MM-dd') %}
    {% if eventDate != currentDate %}
      {% if currentGroup.length > 0 %}
        {% set groupedEvents = (groupedEvents.push({date: currentDate, events: currentGroup}), groupedEvents) %}
      {% endif %}
      {% set currentDate = eventDate %}
      {% set currentGroup = [] %}
    {% endif %}
    {% set currentGroup = (currentGroup.push(event), currentGroup) %}
  {% endfor %}

  {% if currentGroup.length > 0 %}
    {% set groupedEvents = (groupedEvents.push({date: currentDate, events: currentGroup}), groupedEvents) %}
  {% endif %}

  {% for group in groupedEvents %}
  <!-- Item -->
  <div class="event-containergroup filtered relative flex gap-x-5 
    {%- set eventTypeIds = [] -%}
    {%- for event in group.events -%}
      {% if event.eventTypeId not in eventTypeIds %}
        eventType{{ event.eventTypeId }}
        {%- set eventTypeIds = (eventTypeIds.push(event.eventTypeId), eventTypeIds) -%}
      {% endif %}
    {%- endfor -%}">
    <!-- Icon (Left Column) -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700 ">
      <div class="relative z-10 flex flex-col justify-center items-center text-xs text-gray-600 dark:text-neutral-400">
        <span>{{ group.events[0].date | readableDate("ccc") | upper }}</span>
        <span>{{ group.events[0].date | readableDate("LLL") | upper }}</span>
        <span>{{ group.events[0].date | readableDate("dd") }}</span>
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0 ">
      <div class="grid grid-cols-2 md:grid-cols-6 gap-4">
        {% for event in group.events %}
          <a href="/event/join/{{ event.id }}" class="block filtered aspect-[2/3] bg-gray-200 rounded-lg overflow-hidden relative eventType{{ event.eventTypeId }}">
            <div class="p-4">
              <h3 class="font-bold">{{ event.title }}</h3>
              <p>{{ event.location }}</p>
              <p>{{ event.eventTypeData.name }}</p>
              <p>{{ event.date | readableDate('HH:mm') }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->
  {% endfor %}
</div>
<!-- End Timeline -->

<script>
  console.log('eventlist:', {{ eventlist | dump | safe }});
</script>