<div class="flex justify-center mb-6">
  <div class="inline-flex rounded-md shadow-sm" role="group">
    <button type="button" class="filter-button px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white" data-filter="all">
      All
    </button>
    {% if eventTypes %}
      {% for eventType in eventTypes %}
        <button type="button" class="filter-button px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white" data-filter="eventType{{ eventType.eventId }}">
          {{ eventType.name }}
        </button>
      {% endfor %}
    {% else %}
      <p>No event types found.</p>
    {% endif %}
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const filterButtons = document.querySelectorAll('.filter-button');
  const eventItems = document.querySelectorAll('.event-containergroup > *');

  filterButtons.forEach(button => {
    button.addEventListener('click', function() {
      const filter = this.getAttribute('data-filter');
      
      eventItems.forEach(item => {
        if (filter === 'all' || item.classList.contains(filter)) {
          item.style.display = '';
        } else {
          item.style.display = 'none';
        }
      });
    });
  });
});
</script>

<!-- New grouped buttons for event subtypes -->
<div class="flex flex-col items-center mt-6">
  {% set groupedSubTypes = {} %}
  {% for subType in eventSubTypes %}
    {% if not groupedSubTypes[subType.eventTypeId] %}
      {% set groupedSubTypes = (groupedSubTypes.update({(subType.eventTypeId): []}), groupedSubTypes) %}
    {% endif %}
    {% set _ = groupedSubTypes[subType.eventTypeId].push(subType) %}
  {% endfor %}

  {% for eventTypeId, subTypes in groupedSubTypes %}
    <div class="inline-flex rounded-md shadow-sm mb-2 filtered eventType{{ eventTypeId }}" role="group">
      {% for subType in subTypes %}
        <button type="button" class="filter-button px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white" data-filter="eventSubType{{ subType.eventSubTypeId }}">
          {{ subType.name }}
        </button>
      {% endfor %}
    </div>
  {% endfor %}
</div>