<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="stylesheet" href="/css/index.css">
		

	</head>
	<body>
		
		
		<header class="bg-gray-100 py-4">
			<div class="container mx-auto flex">
				<div class="w-3/4">
					<h1 class="text-4xl font-bold">
						<a href="/" class="text-blue-600 hover:text-blue-800">Trade Night</a>
					</h1>
				</div>
				<div class="w-1/4">
					<!-- Right column content can be added here if needed -->
				</div>
			</div>
		</header>


		<main id="skip">
			{{ content | safe }}
		</main>

		<footer>
			<p>&copy; Trade Night</p>
		</footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
