<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="stylesheet" href="/css/index.css">
		

	</head>
	<body>
		
		
		{% include "_includes/header.njk" %}


		<main id="skip">
			<div class="container mx-auto max-w-[1280px] px-4 md:px-6">
				{{ content | safe }}
			</div>
		</main>

		<footer>
			<p>&copy; Trade Night</p>
		</footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
